<h2>Merchant Coupons</h2>

<%= link_to 'Create New Coupon', '/merchant/coupons/new' unless @coupons.count >= 5 %>

<% @coupons.each do |coupon| %>
  <section id="coupon-<%= coupon.id %>">
    <p>Coupon Name: <%= coupon.name %></p>
    <p>Discount: <%= number_to_percentage(coupon.discount, precision: 0) %></p>
    <%= link_to 'Edit Coupon', "/merchant/coupons/#{coupon.id}/edit" %>
    <% if coupon.enabled? %>
      <p>Enabled</p>
      <% if coupon.used?.first != nil %>
        <p>This coupon has been used by a customer</p>
      <% else %>
        <p><%= link_to 'Disable Coupon', "/merchant/coupon/#{coupon.id}", method: :patch %></p>
      <% end %>
    <% else %>
      <p>Disabled</p>
      <p><%= link_to 'Enable Coupon', "/merchant/coupon/#{coupon.id}", method: :patch %></p>
    <% end %>
    <br>
  </section>
<% end %>
