<h1>New Coupon</h1>

(Please fill in all fields)
<%= form_tag "/merchant/coupons" do %>

  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :code %>
  <%= text_field_tag :code %>

  <%= label_tag :percentage %>
  <%= text_field_tag :percentage %>

  <%= submit_tag 'Create Coupon' %>

<% end %>
