<h2>My Cart</h2>
<% if cart.items.empty? %>
  <p>Your Cart is Empty!</p>
<% else %>
<h3>Total: <%= number_to_currency(cart.grand_total) %></h3>
  <% cart.items.each do |item| %>
    <section id='item-<%= item.id%>'>
      <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
      <img src=<%= item.image %>>
      <p>Price: <%= number_to_currency(item.price) %></p>
      <p>Quantity: <%= cart.count_of(item.id) %></p>
      <%= "Bulk Discount: -#{number_to_currency(cart.bulk_discount(item))}" if cart.bulk_discount(item) > 0 %>
      <p>Subtotal: <%= number_to_currency(cart.subtotal(item.id)) %></p>
      <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
      <%= button_to 'More of This!', "/cart/#{item.id}?change=more", method: :patch unless cart.limit_reached?(item.id) %>
      <%= button_to 'Less of This!', "/cart/#{item.id}?change=less", method: :patch %>
      <%= button_to 'Remove', "/cart/#{item.id}", method: :delete %>
    </section>
  <% end %>
  <section id='checkout'>
    <% if current_user %>
      <%= button_to 'Check Out', '/orders' %>
    <% else %>
      <p>You must <%= link_to 'register', new_user_path %> or <%= link_to 'log in', login_path %> to checkout.</p>
    <% end %>
  </section>
  <%= button_to 'Empty Cart', '/cart/all', method: :delete %>
<% end %>
