<h2>My Cart</h2>
<% if cart.items.empty? %>
  <p>Your Cart is Empty!</p>
<% else %>
  <h3>Total: <%= number_to_currency(cart.grand_total) %></h3>
  <% if current_coupon %>
    <h3>Total After Coupon: <%= number_to_currency([cart.grand_total - current_coupon.discount, 0].max) %></h3>
  <% end %>
  <% cart.items.each do |item| %>
    <section id='item-<%= item.id%>'>
      <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw">
      <p>Price: <%= number_to_currency(item.price) %></p>
      <p>Quantity: <%= cart.count_of(item.id) %></p>
      <p>Subtotal: <%= number_to_currency(cart.subtotal_of(item.id)) %></p>
      <% item.merchant.coupons.each do |coupon| %>
        <% if coupon == current_coupon %>
          <p>Subtotal After Discount: <%= number_to_currency(cart.subtotal_of(item.id) - current_coupon.discount) %></p>
        <% end %>
      <% end %>
      <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
      <%= button_to 'More of This!', "/cart/more/#{item.id}", method: :patch unless cart.limit_reached?(item.id) %>
      <%= button_to 'Less of This!', "/cart/less/#{item.id}", method: :patch %>
      <%= button_to 'Remove', "/cart/#{item.id}", method: :delete %>
    </section>
  <% end %>

  <h3>Coupons</h3>
  <% if current_coupon %>
    <p>Currently Selected: <%= current_coupon.name %> </p>
    <p>Discount Total: <%= number_to_currency(current_coupon.discount) %> </p>
  <% end %>
  <% cart.merchants.each do |merchant| %>
    <% merchant.coupons.each do |coupon| %>
      <% if coupon.used?.first == nil %>
        <%= form_tag "/coupons/#{coupon.id}", method: :post do %>
          <section id='coupon-<%= coupon.id %>'>
            <p><%= label_tag :name, coupon.name  %>,
            <%= label_tag :discount, number_to_currency(coupon.discount) %>
            <%= submit_tag 'Select Coupon' %></p>
          </section>
        <% end %>
      <% elsif coupon.used?.first.user_id != current_user.id %>
        <%= form_tag "/coupons/#{coupon.id}", method: :post do %>
          <section id='coupon-<%= coupon.id %>'>
            <p><%= label_tag :name, coupon.name  %>,
            <%= label_tag :discount, number_to_currency(coupon.discount) %>
            <%= submit_tag 'Select Coupon' %></p>
          </section>
        <% end %>
      <% else coupon.used?.first.user_id == current_user.id %>
      <% end %>
    <% end %>
  <% end %>

  <section id='checkout'>
    <% if current_user %>
      <%= button_to 'Check Out', '/orders' %>
    <% else %>
      <p>You must <%= link_to 'register', registration_path %> or <%= link_to 'log in', login_path %> to checkout.</p>
    <% end %>
  </section>
  <%= button_to 'Empty Cart', '/cart', method: :delete %>
<% end %>
