<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
  <% @user.addresses.each do |address|  %>
  <p><%= address.street_address %></p>
  <p><%= address.city %> <%= address.state %> <%= address.zip %>
<% end %>
