

<h1><%= @user.name %></h1>
<p><%= @user.email %></p>

<% @user.addresses.map do |a| %>
<section id="address-<%= a.id %>">
<%= a.nickname %>:
<%= a.streetname %>
<%= a.city %>
<%= a.state %>
<%= a.zip %>
<% if a.shipments_check == false %>
<%= link_to "Edit Address", address_edit_path(a.id) %>
<%= link_to "Delete Address", address_destroy_path(a.id), method: :delete %>
<% end %>
</section>
<br>
<% end %>
