<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<% @user.addresses.each do |address| %>
  <section id='address-<%= address.id %>'>
    <p>Nickname: <%= address.nickname %></p>
    <p>Address: <%= address.address %></p>
    <p><%= address.city %> <%= address.state %> <%= address.zip %></p>
    <p><%= link_to 'Edit Address', edit_address_path(address.id) %></p>
  </section>
<% end %>
