<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<!-- display user.default_address values -->
<section id="current-address">
<p>Current Address: <%= @address.nickname %></p>
<p>Address: <%= @address.street_address %></p>
<p><%= @address.city %>, <%= @address.state %> <%= @address.zip %></p>
<%= link_to 'All Addresses', addresses_path %>
<%= link_to 'Add New Address', new_address_path if !current_admin? %>
<%= link_to 'Edit Current Address', edit_address_path(@address.id) if !current_admin? %>
<%= link_to 'Delete Current Address', "/addresses/#{@address.id}", method: :delete if !current_admin? && @address.orders.empty? %>
</section>
