
<h4>Edit Your Profile</h4>

<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

    <%= f.fields_for :address do |p| %>
      <%= p.label :street_address %>
      <%= p.text_field :street_address %>

      <%= p.label :city %>
      <%= p.text_field :city %>

      <%= p.label :state %>
      <%= p.text_field :state %>

      <%= p.label :zip %>
      <%= p.text_field :zip %>
    <% end  %>

<%= f.submit 'Update Profile' %>
<% end  %>
