<h1><%= current_user.name %></h1>
<p><%= current_user.email %></p>
<p><%= current_user.address %></p>
<p><%= current_user.city %> <%= current_user.state %> <%= current_user.zip %></p>
<%= link_to 'Edit', '/profile/edit' %>
