<%= render 'address' %>
<%= link_to 'Edit Profile', '/profile/edit' %>
<%= link_to 'Change Password', '/profile/edit_password' %>

<section class="address">

  <%= link_to "New Address", address_new_path %>

</section>

<%= link_to 'My Orders', '/profile/orders' %>
