<h1>My Addresses</h1>
<% @addresses.each do |address| %>
<section id = 'address-<%= address.id %>'>

<%= address.address %>
<%= address.city %>
<%= address.state %>
<%= address.zip %>
<%= address.nickname %>
  <% end %>
</section>
