<h1><%= @merchant.name %></h1>

<section class='address'>
  <h4><%= @merchant.full_address %></h4>
</section>

<section class='statistics'>
  <% if @merchant.items.empty? %>
    <p>This Merchant has no Items, or Orders!</p>
  <% else%>
    <section id='average-price-total'>
    <p><strong>Item Count:</strong> <%= @merchant.item_count %>
    <strong>Average Item Price:</strong> <%= number_to_currency(@merchant.average_item_price) %></p>
    </section>
    <% if @merchant.order_items.empty? %>
      <p>This Merchant has no Orders!</p>
    <% else %>
      <ul>
        <h5>Cities Served:</h5>
        <% @merchant.distinct_cities.each do |city_state| %>
          <p><%= city_state %></p>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</section>

<%= button_to 'Edit', "/merchants/#{@merchant.id}/edit", method: :get %>
<%= button_to 'Delete', "/merchants/#{@merchant.id}", method: :delete  if @merchant.order_items.empty? %>
