<h2>Edit Discount</h2>
<%= form_tag "/merchant/discounts/#{@discount.id}", method: :patch do %>
<%= label_tag :percent %>
<%= text_field_tag :percent %>
<%= label_tag :min_items %>
<%= text_field_tag :min_items %>

  <%= submit_tag 'Update Discount' %>
<% end %>
