<h1 align= "center">Update Discount</h1>
  <center>

    <%= form_for [:merchant, @discount], url: merchant_discount_path(@discount) do |f| %>
        <%= f.label :threshold_quantity %>
        <%= f.text_field :threshold_quantity %><br />

        <%= f.label :discount_percentage %>
        <%= f.text_field :discount_percentage %><br />

        <%= f.submit 'Update Discount' %>
    <% end %>
  </center>