<%= link_to 'Create New Discount', new_merchant_discount_path %>

<table align = "CENTER">
  <tr align = "center">
    <td>Discount Name</td>
    <td>Required Items</td>
    <td>Total Discount</td>
    <td>Date Created</td>
  </tr>
  <% @discounts.each do |discount| %>
    <tr id = "discount-<%=discount.id%>" align = 'center'>
        <td><%= discount.name %></td>
        <td>Applies when <%= discount.items_required %> or more items are ordered</td>
        <td><%= discount.discount %>%</td>
        <td><%= discount.created_at %></td>
        <td><%= link_to 'Update Discount', edit_merchant_discount_path(discount.id) %>
        <td><%= link_to 'Delete Discount', "/merchant/discounts/#{discount.id}", method: :delete %>
      </tr>
  <% end %>
</table>
