<h2>Discounts</h2>

<h4>All My Discounts</h4>
<% @user.merchant.discounts.each do |discount| %>
  <section id='discounts-<%= discount.id%>'>
    <%= "Description of Discount: #{discount.description}" %>
    <%= "Quantity of minumn items needed for the discount: #{discount.quantity}" %>
    <%= "Percent Off: #{discount.percent}%" %>
  </section>
<% end %>
<%= link_to 'Create New Discount', '/merchant/discounts/new' %>
