<% @discounts.each do |discount| %>
  <section id='discount-<%= discount.id%>'>
  <p><%=discount.percentage%> percent off <%=discount.quantity%> items
  <%= link_to 'Edit', "/merchant/discounts/#{discount.id}/edit"%>
  <%= link_to 'Delete', "/merchant/discounts/#{discount.id}", method: :delete%></p>
  </section>
<% end %>
<%= link_to 'New Discount', '/merchant/discounts/new' %>