<h1>Discounts</h1>
<h3><%= link_to 'New Bulk Discount', '/merchant/discounts/new', method: :get %></h3>

<% @merchant.discounts.each do |discount| %>
<section id= 'discount-<%=discount.id%>' >
  <h4>Discount <%= discount.id %></h4>
  <p>Item: <%= discount.item.name %></p>
  <p>Discount: <%= discount.amount %>% off</p>
  <p>Quantity at which Discount is Applied: <%= discount.quantity %></p>
  </section>
<% end %>