<h2><%= @merchant.name %>'s Discounts</h2>
<%= link_to 'Create New Discount', '/merchant/discounts/new' %>

<h4>All My Discounts</h4>
<% @merchant.discounts.each do |discount| %>
  <section id='discounts-<%= discount.id %>'>
    <p><%= "Description of Discount: #{discount.description}" %></p>
    <p><%= "Discount ID: ##{discount.id}" %></p>
    <p>______________________________________________</p>
  </section>
<% end %>
