<h1>Bulk Discounts for <%= link_to @merchant.name %></h1>
<br>
<h3><%= link_to "Create New Discount", "/merchant/discounts/new" %>
<br>
<% @merchant.discounts.each do |discount| %>
  <section id='discount-<%= discount.id %>'>
    <p>Discount Percentage: <%= discount.percentage %>%</p>
    <p>Required Item Quantity: <%= discount.required_amount %><p>
    <p><%= link_to "Edit Discount", "/merchant/discounts/edit/#{discount.id}" %>
    <p><%= link_to "Delete Discount", "/merchant/discounts/#{discount.id}", method: :delete %>
  </section>
<% end %>
