<h1>My Discounts</h1>
<%= link_to 'New Discount', 'new' %>
<% @merchant.discounts.each do |discount| %>
  <section id='discount-<%= discount.id %>'>
      <h2><%= link_to discount.name, "#{discount.id}" %></h2>
      <p><%= discount.min_item_quantity %></p>
      <p><%= discount.percent_off %></p>
  </section>
<% end %>
