<h1>Create New Discount</h1>

<%= form_tag "/merchant/discounts" do %>
<%= label_tag :percentage %>
<%= text_field_tag :percentage %>

<%= label_tag :bulk %>
<%= text_field_tag :bulk %>

<%= submit_tag 'Create Discount' %>
<% end %>
<br/>
<h5> "Enter the percentage off and the bulk of items required for the discount"</h5>
