<h1>New Discount</h1>
<%= form_tag "/merchant/discounts" do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :percent %>
  <%= text_field_tag :percent %>

  <%= label_tag :threshold %>
  <%= text_field_tag :threshold %>

  <%= submit_tag 'Create Discount' %>
<% end %>
