<h2>New Discount</h2>
<%= form_tag "/merchant/discounts", method: :post do %>
  <%= label_tag "Percent Discount" %>
  <%= number_field_tag :amount %>

  <%= label_tag "Minimum Items" %>
  <%= number_field_tag :num_items %>

  <%= collection_check_boxes(:items, :item_ids, @items, :id, :name) %>

  <%= submit_tag 'Create Discount' %>
<% end %>

