<h1>Discount Number: <%= @discount.id %></h1>

<p>Percentage Off: <%= @discount.percentage %><p/>
<p>Number of Items Required: <%= @discount.bulk %></p>

<p> <%= link_to "Edit Discount", "/merchant/discounts/#{@discount.id}/edit"%> </p>
<p> <%= link_to "Delete Discount", "/merchant/discounts" %> </p>
