<h2>Discount: <%= @discount.id %></h2>
<ul>
  <li><%= "Description of Discount: #{@discount.description}" %></li>
  <li><%= "Quantity of minimum items needed for the discount: #{@discount.quantity}" %></li>
  <li><%= "Percent Off: #{@discount.percent}%" %></li>
</ul>
<%= link_to 'Edit Discount', "/merchant/discounts/#{@discount.id}/edit", method: :get %>
<%= link_to 'Delete Discount', "/merchant/discounts/#{@discount.id}", method: :delete %>
