<h2>Discount: <%= @discount.id %></h2>
<p>Status: <%= @discount.status.upcase %></p>
<p>Percent Off: <%= number_to_percentage(@discount.percent, strip_insignificant_zeros: true) %></p>
<p>Required Item Quantity: <%= @discount.quantity %> units</p>
<%= link_to "Edit Discount", "/merchant/discounts/#{@discount.id}/edit" %><br>
  <% if @discount.status == 'active' %>
    <%= link_to "Deactivate", "/merchant/discounts/#{@discount.id}/change_status", method: :put %>
  <% elsif @discount.status == 'inactive' %>
    <%= link_to "Activate", "/merchant/discounts/#{@discount.id}/change_status", method: :put %>
    <%= link_to "Delete", "/merchant/discounts/#{@discount.id}", method: :delete %>
  <% end %>
  <h3><%= link_to "Back to All Bulk Discounts", '/merchant/discounts' %></h3>
