<h2><%= @order.user.name %></h2>
<p><%= @order.user.address %></p>
<p><%= @order.user.city %> <%= @order.user.state %> <%= @order.user.zip %></p>
<p>Status: <%= @order.status %></p>

<% @merchant.order_items_by_order(@order.id).each do |order_item| %>
  <section id="order-item-<%= order_item.id %>">
    <%= link_to order_item.item.name, "/merchant/items/#{order_item.item.id}" %>

    <% if order_item.item.discount.nil? == false %>
      <% if order_item.item.discount.quantity <= order_item.quantity %>
      <p>Discount Applied: <%= link_to "#{order_item.item.discount.id}", "/merchant/discounts/#{order_item.item.discount.id}" %> </p>
      <% end %>
    <% end %>

    <p>Price: <%= number_to_currency(order_item.blended_price) %></p>
    <p>Quantity: <%= order_item.quantity %></p>
    <% if order_item.fulfilled? %>
      <p>Fulfilled</p>
    <% elsif order_item.fulfillable? %>
      <%= link_to 'Fulfill', "/merchant/orders/#{@order.id}/fulfill/#{order_item.id}" %>
    <% else %>
      <p>Insufficient Inventory</p>
    <% end %>
  </section>
<% end %>
