<section class='statistics'>
  <h3>Most Popular Items:</h3>
  <% @items.by_popularity(5, "DESC").each do |item| %>
    <li><%= item.name %>: <%= item.total_sold %> sold</li>
  <% end %>
  <h3>Least Popular Items:</h3>
  <% @items.by_popularity(5, "ASC").each do |item| %>
    <li><%= item.name %>: <%= item.total_sold %> sold</li>
  <% end %>
</section>

<% @items.each do |item| %>
  <section id='item-<%= item.id%>'>
    <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
    <p><%= item.description %></p>
    <%= link_to(image_tag(item.image), item_path(item), id: 'image') %>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
    <p><%= item.active ? "Active" : "Inactive" %></p>
    <% if current_merchant_user? %>
      <% if item.active? %>
        <%= button_to 'Inactivate', "/merchant/items/#{item.id}?change_status=true", method: :put %>
      <% elsif !item.active? %>
        <%= button_to 'Activate', "/merchant/items/#{item.id}?change_status=true", method: :put %>
      <% end %>
      <%= link_to 'Update Item', "/merchant/items/#{item.id}/edit" %>
      <%= button_to 'Delete', "/merchant/items/#{item.id}", method: :delete if item.orders.empty? %>
    <% end %>
  </section>
<% end %>
