<h2>Edit Item</h2>
<%= form_tag "/items/#{@item.id}", method: :patch do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :description %>
  <%= text_field_tag :description %>

  <%= label_tag :price %>
  <%= text_field_tag :price %>

  <%= label_tag :image %>
  <%= text_field_tag :image %>

  <%= label_tag :inventory %>
  <%= text_field_tag :inventory %>

  <%= submit_tag 'Update Item' %>
<% end %>
