<% if @merchant %>
  <h1>All Items From <%= link_to @merchant.name, "/merchant/#{@merchant.id}" %></h1>
  <%= link_to 'New Item', "/merchants/#{@merchant.id}/items/new" %>
<% else %>
  <h1>All Items</h1>
<% end %>

<section class='statistics'>
  <h3>Most Popular Items:</h3>
  <% @items.by_popularity(5, "DESC").each do |item| %>
    <li><%= item.name %>: <%= item.total_sold %> sold</li>
  <% end %>
  <h3>Least Popular Items:</h3>
  <% @items.by_popularity(5, "ASC").each do |item| %>
    <li><%= item.name %>: <%= item.total_sold %> sold</li>
  <% end %>
</section>

<% @items.each do |item| %>
  <section id='item-<%= item.id%>'>
    <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
    <p><%= item.description %></p>
    <%= link_to(image_tag(item.image), item_path(item), id: 'image') %>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
    <p><%= item.active ? "Active" : "Inactive" %></p>
  </section>
<% end %>
