<!DOCTYPE html>
<html>
  <head>
    <title>MonsterShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Register', registration_path %>
      <%= link_to 'Log In', login_path %>
      <%= link_to 'Merchants', '/merchants' %>
      <%= link_to 'Items', '/items' %>
      <%= link_to "Cart: #{cart.count}", cart_path %>
    </nav>
    <% flash.each do |type, message| %>
    <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
